.rodapie{
    font-family: 'Raleway', sans-serif;

}

.rodapie__container-padre{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #EAF2FD;
    height: 320px;
}

.rodapie__container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 240px;
}

.rodapie__logo{
    display: block;
    width: 25%;
    max-width: 200px;
    height: 50px;
}

.rodapie__logo-media768{
    display: none;
}

.rodapie__informacion-item{
    margin-bottom: 1.5rem;
}

.rodapie__informacion-link{
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    color: #464646;
}

.rodapie__formulario{
    display: flex;
    flex-direction: column;
    width: 35%;
}
label{
    margin-bottom: 10px;
}

.rodapie__formualrio-titulo{
    font-size: 16px;
    font-weight: 700;
    margin: 0;
    width: 150px;
}


.rodapie__formulario-info{
    position: relative;
    transform: translateY(35px) translateX(10px);
    font-size: 12px;
    font-weight: 400;
    border: none;
    color: #A2A2A2;
    width: 116px;
}

.rodapie__formulario-input{
    border: none;
    font-size: 16px;
    width: 200%;
    margin-bottom: 10px;
    height: 56px;
    background:  #fff;
    margin-top: 5px;
    padding: 0 10px
}

.mensaje{
    height: 82px;
}

.rodapie__formulario-boton{
    background: #2A7AE4;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    width: 144px;
    height: 51px;
    border: none;
}

.rodapie__creditos{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
}


@media screen and (max-width:768px) {
    .rodapie__logo{
        display: none;
    }
    .rodapie__logo-media768{
        display: block;
        margin-bottom: 30px;
    }

    .rodapie__formualrio-titulo{
        font-size: 14px;
    }
}

@media screen and (max-width:360px) {
    .rodapie__container-padre{
        height: 600px;
    }
    .rodapie__container{
        flex-direction: column;
    }
    .rodapie__logo{
        margin: auto;
    }

    .rodapie__informacion-lista{
        text-align: center;
    }

    .rodapie__formulario{
        padding: 0 .5rem;
    }
    .rodapie__formulario-input{
        width: 700%;
    }

    .rodapie__formulario-boton{
        font-size: 14px;
        width: 116px;
        height: 40px;
        border: none;
    }

    .rodapie__logo{
        width: 180px;
    }

    .SWmedia368, .CSmedia368, .Dmedia360{
        display: none;
    }


}



